body {
    margin: 0px;
}

iframe {
    height: 60vh;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

/* animation */

.anim1 {
    animation: fadeZoomUp  ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    opacity: 0;
    transform: scale(0.5, 0.5);
}
@keyframes fadeZoomUp { 
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    } 
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.anim2 {
    animation: zoomDown ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    transform: scale(1.5, 1.5);
}
@keyframes zoomDown { 
    0% {
        transform: scale(1.5, 1.5);
    } 
    100% {
        transform: scale(1, 1);
    }
}

/* embed */

.gist {
    width: min(980px, 90%);
    margin: 0 auto;
    overflow: auto;
}

.gist .blob-wrapper.data {
    max-height: 60vh;
    overflow: auto;
}

/* content modifiers */

.product {
    width: min(1260px, 90%);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.contentMini {
    width: min(980px, 90%);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.content {
    width: min(1120px, 90%);
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.contentMax {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.bufferAtom {
    width: 100%;
    height: 0.75vw;
    display: block;
}

.bufferNano {
    width: 100%;
    height: 1.5vw;
    display: block;
}

.bufferMini {
    width: 100%;
    height: 3vw;
    display: block;
}

.buffer {
    width: 100%;
    height: 7vw;
    display: block;
}

.bufferMax {
    width: 100%;
    height: 14vw;
    display: block;
}

.fixed {
    position: fixed;
}

/* tabs */

.tabs {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(150%) blur(35px);
    -webkit-backdrop-filter: saturate(150%) blur(35px);
    height: 44px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.tabItems {
    height: 44px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0px;
}

.shareItems {
    display: flex;
    justify-content: space-between;
    width: 7%;
    flex-direction: row;
}

.tab {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: -apple-system, Helvetica;
    font-size: 13px;
    text-decoration: none;
    opacity: 0.8;
}

.selected {
    opacity: 0.4;
}

.tab:hover {
    opacity: 1;
}

.icon {
    width: 17px;
    height: 17px;
}

/* menu */

.menu {
    z-index: 1;
    height: 52px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(150%) blur(35px);
    -webkit-backdrop-filter: saturate(150%) blur(35px);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
}

.menuItems {
    height: 52px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0px;
}

.menuTitle {
    display: flex;
    flex-direction: row;
    color: black;
    font-family: -apple-system, Helvetica;
    font-size: 20px;
    align-items: center;
}

.appicon {
    width: 32px;
    height: 32px;
}

.alpha {
    color: rgb(255, 100, 78);
}

.beta {
    color: rgb(0, 162, 255);
}

.line {
    margin-top: 52px;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
}

.download {
    width: 90px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: -apple-system, Helvetica;
    font-size: 12px;
    text-decoration: none;
    border-radius: 50px;
}

.download:hover {
    filter: brightness(80%);
}

/* header */

.header {
    display: flex;
    text-align: center;
    justify-content: center;
}

.titles {
    position: absolute;
}

.title {
    font-family: -apple-system, Helvetica;
    font-size: 9vw;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-family: Helvetica;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}

.headerImage {
    height: 100%;
    z-index: -3;
}

/* group */

.groupHeader {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.groupTitle {
    font-family: -apple-system, Helvetica;
    font-size: 4vw;
    font-weight: bold;
    color: black;
}

.groupText {
    font-size: 1.3vw;
    font-family: Helvetica;
    line-height: 1.8;
    color: black;
}

.groupLink {
    font-size: 1.3vw;
    font-family: Helvetica;
    line-height: 1.8;
    color: rgb(0, 162, 255);
    text-decoration: none;
}

.groupLink:hover {
    text-decoration: underline;
}

.groupImage {
    display: block;
    border-radius: 10px;
}

.divider {
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
}

.groupDescription {
    font-family: Helvetica;
    font-size: 13px;
    color: black;
    line-height: 1.5;
}

.groupReference {
    font-family: Helvetica;
    font-size: 8px;
    color: black;
    line-height: 2.5;
}

.screenshots {
    justify-content: space-between;
    flex-wrap: wrap;
}

.screenshotMac {
    width: 32%;
}

.screenshotPhone {
    width: 19%;
}

.screenshotMax {
    margin-top: 1.6vw;;
    width: 100%;
}

/* designer */

.designer {
    width: 100%;
    background: rgba(15, 15, 15);
    display: block;
}

.whois {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 35vw;
}

.text {
    font-family: -apple-system, Helvetica;
    display: block;
}

.who {
    display: block;
    height: 100%;
}

.skills {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.skills:not(:first-child) {
    margin-top: 3vw;
}

.skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10%;
    text-decoration: none;
}

.skillIcon {
    display: block;
    height: 70%;
    width: 70%;
}

.skillText {
    margin-top: 1vw;
    font-size: 0.9vw;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    display: block;
}

/* footer */

.footer {
    width: 100%;
    background: rgba(15, 15, 15);
    display: block;
}