body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#page {
    width: -moz-calc(100% - 150px);
    width: -webkit-calc(100% - 150px);
    width: calc(100% - 150px);
    height: 100%;
    margin-left: 75px;
    margin-top: -25px;
    position: absolute;
    overflow: scroll;
    border: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#page::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
}

#search {
    margin-left: 25vw;
    margin-top: -moz-calc(25vh - 25px);
    margin-top: -webkit-calc(25vh - 25px);
    margin-top: calc(25vh - 25px);
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    position: absolute;
    z-index: 1000;
    display: none;
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.4);
    animation-name: present;
    animation-duration: 0.5s;
    transition: 0.5s;
}

@keyframes present {
    from {
        transform: scale(0.8);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        transform: scale(1);
        opacity: 1;
    } 50% {
        opacity: 0;
    } 100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

#functions {
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
}

.glyph {
    width: 25px;
    height: 25px;
    transition: 0.5s;
    opacity: 0.3;
    margin-bottom: 25px;
}

.glyph:not(.select) {
    cursor: pointer;
}

.glyph:hover {
    opacity: 0.6;
}

.select {
    opacity: 0.6;
}

#mail {
    margin-bottom: -25px;
}

#highlight {
    height: -moz-calc(100vh - 150px);
    height: -webkit-calc(100vh - 150px);
    height: calc(100vh - 150px);
    width: -moz-calc(100vw - 150px);
    width: -webkit-calc(100vw - 150px);
    width: calc(100vw - 150px);
    margin-left: 75px;
    margin-top: 50px;
    position: absolute;
    z-index: 1000;
    object-fit: contain;
    transition: 0.5s;
    display: none;
    cursor: pointer;
    animation-duration: 0.5s;
}

@keyframes enlarge { 
    0% {
        opacity: 0;
        transform: scale(0.5);
    } 100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes minimize { 
    0% {
        opacity: 1;
        transform: scale(1);
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 0;
        transform: scale(0.5);
    }
}