body {
    background-color: #1e1e1e;
    margin: 0px;
}

.menu {
    position: fixed;
    width: 100%;
}

.menuBlur {
    height: 50px;
    width: 100%;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    position: absolute;
}

.menuBackground {
    opacity: 0.6;
    height: 50px;
    width: 100%;
    background-color: #1e1e1e;
    position: absolute;
}

.icon {
    height: 30px;
    padding-top: 10px;
    padding-left: 10%;
    position: absolute;
}

.buffer {
    padding-top: 50px;
}

.menuStroke {
    opacity: 0.8;
    height: 1px;
    width: 100%;
    background-color: #1e1e1e;
}

.header {
    padding-top: 60px;
    padding-bottom: 0px;
    width: 100%;
}

.image {
    padding-bottom: 10px;
    width: 100%;
}

.imageProject {
    padding-bottom: 0px;
    width: 100%;
}