body {
    background: rgb(245, 245, 245);
    font-family: -apple-system, Helvetica;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: -20px;
    margin-left: 20px;
    font-size: 34px;
    font-weight: bold;
}

#recalibrate {
    font-weight: normal;
    margin-bottom: -12px;
    color: #FF9400;
    font-size: 16px;
    display: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#recalibrate:active {
    color: #995900;
}

.orange {
    color: #FF9400;
}

.description {
    height: 14px;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    padding-top: 40px;
    margin-bottom: -12px;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(155, 155, 155);
}

.footer {
    height: 14px;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 20px;
    font-size: 14px;
    color: rgb(155, 155, 155);
}

.label {
    color: rgb(155, 155, 155);
}

.horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    min-height: 50px;
    background: white;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.bufferTop {
    margin-top: 30px;
    border-top: 1px solid rgb(220, 220, 220);
}

.bufferBottom {
    margin-bottom: 30px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

.image {
    height: 100%;
}

#stepper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.recorder {
    height: 100px;
    min-height: 100px;
}

#record {
    width: 70px;
    height: 70px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
}

.empty {
    display: none;
}

#negative {
    fill: #ffffff;
}

.content {
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slice {
    text-align: start;
    height: 100%;
    width: -moz-calc((100% - 40px) / 4);
    width: -webkit-calc((100% - 40px) / 4);
    width: calc((100% - 40px) / 4);
}

.fifth {
    text-align: end;
    height: 100%;
    width: -moz-calc((100% - 40px) / 5);
    width: -webkit-calc((100% - 40px) / 5);
    width: calc((100% - 40px) / 5);
}

.parameter {
    text-align: start;
}

#request {
    color: #147EFB;
}

#request:active, .step:active {
    color: #034fa6;
}

.reset {
    text-align: end;
    color: #fd3d30;
    font-size: 16px;
    display: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.reset:active {
    color: #c50f02;
}

.delete {
    display: block;
    text-align: start;
}

.step {
    text-align: end;
    color: #147EFB;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#click {
    width: 16px;
    height: 16px;
}

#illustration {
    margin: 0 auto;
    display: none;
    height: 100%;
    width: min(400px, 100%);
    margin-top: 30px;
    margin-bottom: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 52px;
    height: 32px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #16c946;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* dark mode styling */
@media (prefers-color-scheme: dark) {

    body {
        background: black;
        color: white;
    }

    .description, .footer, .label {
        color: rgb(100, 100, 100);
    }

    .horizontal {
        background: rgb(20, 20, 20);
        border-bottom: 1px solid rgb(35, 35, 35);
    }

    .bufferTop {
        border-top: 1px solid rgb(35, 35, 35);
    }

    .bufferBottom {
        border-bottom: 1px solid rgb(35, 35, 35);
    }

    .slider {
        background-color: #323232;
    }

    #negative {
        fill: #141414;
    }

}