/* page */

body {
    background: black;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#window {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* controls */

#background {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 100%;
    background: rgb(255, 255, 255);
    transition: 0.5s;
    border-radius: 10px;
}

#menu {
    width: 100%;
    height: 125px;
    background: black;
    transition: 0.5s;
}

#controls {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}

.control {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(150, 150, 150);
}

.selected {
    border: 2px solid yellow;
}

.icon {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 40%;
    height: 40%;
}