/* page */

body {
    background: black;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100vw;
    height: 100vh;
}

.window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* controls */
    
.background {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.5s;
}

.menu {
    background: black;
    transition: 0.5s;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.25s;
    transition-delay: 0.15s;
}

.control {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(100, 100, 100);
    transition: 0.5s;
}

.selected {
    border: 2px solid rgb(248, 216, 72);
}

.icon {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 40%;
    height: 40%;
}

/* vertical rotate */

.windowV {
    flex-direction: column;
}

.backgroundV {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    height: 100%;
}

.menuV {
    width: 100%;
    height: 110px;
}

.controlsV {
    width: -moz-calc(100% - 50px);
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    height: 100%;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
}

/* horizontal rotation */

.windowH {
    flex-direction: row;
}

.backgroundH {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    width: 100%;
}

.menuH {
    width: 110px;
    height: 100%;
}

.controlsH {
    width: 100%;
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: calc(100% - 50px);
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* vertical toggled */

.controlsVT {
    opacity: 0;
    transition-delay: 0s;
}

.backgroundVT {
    border-radius: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.menuVT {
    height: 0;
}

/* horizontal toggled */

.controlsHT {
    opacity: 0;
    transition-delay: 0s;
}

.backgroundHT {
    border-radius: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    height: 100%;
}

.menuHT {
    width: 0;
}

/* mobile webkit */

.htmlVW {
    height: -webkit-fill-available;
}

.bodyVW {
    max-height: -webkit-fill-available;
}

.htmlHW {
    height: -webkit-fill-available;
}

.bodyHW {
    max-height: -webkit-fill-available;
}

/* ping pong */

#desktop {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
    display: none;
}

#mobile {
    margin-left: 10vw;
    width: 80vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    display: none;
}

.divider {
    width: 1px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
}

.ball {
    width: 100%;
    height: 15vh;
    background: white;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background: white;
    color: black;
    font-weight: bold;
    font-family: -apple-system, Helvetica;
}

.player {
    width: -moz-calc((100% - 3px) / 4);
    width: -webkit-calc((100% - 3px) / 4);
    width: calc((100% - 3px) / 4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 3s;
}

#circle1 {
    background: green;
}

#circle2 {
    background: red;
}

#circle3 {
    background: orange;
}

#circle4 {
    background: blue;
}

.enlarge {
    width: 20vw;
    height: 20vw;
}

.minimize {
    width: 0;
    height: 0;
}

.controller {
    height: 100%;
    width: 100%;
}

#controller1 {
    background: green;
}

#controller2 {
    background: red;
}

#controller3 {
    background: orange;
}

#controller4 {
    background: blue;
}

@media (prefers-color-scheme: light) {
    #desktop {
        background: white;
    }
    .divider {
        width: 1px;
        height: 100vh;
        background: rgba(0, 0, 0, 0.2);
    }
}