html {
    height: -webkit-fill-available;
}

body {
    background: rgb(245, 245, 245);
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* inspector */

.window {
    position: relative;
}

.overlay {
    position: absolute;
}

.toggle {
    width: 20px;
    opacity: 0.3;
    margin-bottom: 30px;
}

.sidebar {
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
    width: 200px;
    background: rgb(235, 235, 235);
    border-right: 1px solid rgb(221, 221, 221);
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    position: absolute;
    top: 0;
    z-index: -1;
}

@keyframes hide { 
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-210px, 0);
    }
}

@keyframes show { 
    0% {
        transform: translate(-210px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.inspector {
    height: -webkit-calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#show {
    padding: 10px;
}

.toggle:active {
    opacity: 0.6;
}

.divider {
    margin-bottom: 10px;
    height: 1px;
    width: 100%;
    background: rgb(200, 200, 200);
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: scroll;
}

.text {
    color: rgb(125, 125, 125);
    font-family: -apple-system, Helvetica;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    height: 25px;
    width: 100%;
}

button:not(:first-child):not(:last-child) {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

#delay {
    height: 25px;
    width: 98%;
}

.horizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#gradient {
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, green, blue, violet); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, green, blue, violet); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, green, blue, violet); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, green, blue, violet); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}